*{
    padding:0;
    margin:0;
    border:0;

    box-sizing:border-box;
}

html,body,#main{
    width:100%;
    height:100%;
}

.main-page{
    width:100%;
    height:100%;
}

.top-nav{
    position: absolute;
    top:0;
    left:0;

    width:100%;
    height:56px;

    z-index: 2;
}

.content-body{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    padding-top:56px;
    overflow: hidden;

    z-index:1;
}
.left-menu{
    float:left;
    min-width:300px;
    max-width:350px;
    height:100%;

    background-color:rgba(166,166,166,.4);
}

.right-menu{
    float:right;
}
