*{
    padding:0;
    margin:0;
    border:0;

    box-sizing:border-box;
}

html,body,#main{
    width:100%;
    height:100%;
}

.main-page{
    width:100%;
    height:100%;
}

.left-menu{
    float:left;
    min-width:300px;
    max-width:350px;
    height:100%;

    background-color:rgba(166,166,166,.4);
}

.right-menu{
    float:right;
}
